body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: blue;
  padding: 30px;
  max-width: 700px;
}

img {
  border-radius: 15px;
  border: 2px #fff solid;
  box-shadow: 10px 5px 5px white;
}

h1, h3 {
  color: #fff;
  border: 3px #fff solid;
  padding: 10px;
  border-radius: 10px ;
  box-shadow: 2px 2px;
}

.btn {
  display: flex;
 justify-content: space-evenly;
}

button {
  background-color: #cf3554;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
}